.homeWrap {
    display: flex;
    align-items: center;
    justify-content: center;

    .buttonWrap {
        margin-top: 20rem;
        padding: 1rem 2rem;
        font-size: 2rem;
    }
}